<!DOCTYPE html>
<html lang="si">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="application-name" content="පොකැට්‍"/>
  <meta name="description" content="PWA for counting cash in hand."/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="assets/img/icons/icon-144x144.png" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#000000">

  <title>පොකැට්</title>

  <link rel="manifest" href="manifest.json">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/img/icons/icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="assets/img/icons/icon-152x152.png" />
  <link rel="icon" type="image/png" href="assets/img/icons/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="assets/img/icons/favicon-16x16.png" sizes="16x16" />
  <link rel="stylesheet" href="assets/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS">
</head>
<body>
  <header>
    <div class="navbar navbar-dark fixed-top bg-dark">
      <div class="title">
        <img src="/assets/img/icons/favicon-32x32.png" alt="">
        <strong class="text-white">පොකැට්‍</strong>
      </div>
    </div>
  </header>

  <main class="container">
    <noscript>
      <div class="alert alert-danger text-center">
        <h1>Unable to run පොකැට්‍ on this device.</h1>
        <hr>
        <p>Please <strong>enable JavaScript</strong> &amp; restart the app.</p>
      </div>
    </noscript>
  </main>

  <footer class="mt-auto py-3 bg-dark">
    <div class="container text-light text-center">
      <strong>Pokaet</strong>
      <br>
      <small class="d-none d-sm-inline">Copyright 2019 - <a href="https://sudaraka.org/" target="_new_win">Sudaraka Wijesinghe</a> - BSD 2-Clause license - <a href="https://bitbucket.org/sudaraka/pokaet-app" target="_new_win">source</a>.</small>
    </div>
  </footer>
</body>
</html>
