// src/styles.sass: custom styles for pokaet app
//
// Copyright 2019 Sudaraka Wijesinghe <sudaraka@sudaraka.org>
//
// This program comes with ABSOLUTELY NO WARRANTY
// This is free software, and you are welcome to redistribute it and/or modify
// it under the terms of the BSD 2-clause License. See the LICENSE file for more
// details.
//

body
  padding: 60px 0 56px

  @media(min-width: 576px)
    &
      padding-bottom: 80px

footer
  position: fixed
  bottom: 0
  width: 100%
  z-index: 1030

header
  .title
    margin: .25rem auto
    display: grid
    grid-template-columns: 32px auto
    grid-gap: 1rem
    align-items: center
    font-size: 1.5em

main.container
  margin-top: 1rem

  @media(min-width: 768px)
    &
      max-width: 540px

.input-group-prepend
  width: 30%
  min-width: 112px
  margin-bottom: 0

  .input-group-text
    display: block
    width: 100%
    text-align: right
    font-weight: bold

.input-group-append.clear
  @media(max-width: 235px)
    &
      display: none

  .btn
    font-weight: bold
    border-color: #ced4da

    &:hover
      border-color: #6c757d

.input-group-append:not(.clear)
  width: 40%
  min-width: 90px

  @media(max-width: 375px)
    &
      display: none

  .input-group-text
    display: block
    width: 100%
    text-align: right

.form-control[type=number]
  text-align: right

.jumbotron
  display: grid
  grid-template-columns: auto 40px
  grid-gap: 1rem
  padding: 1rem .35rem 1rem 1rem
  min-height: 80px

  h1
    text-align: center
    font-weight: bold
    font-size: 2.5rem
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    margin: 0
